<!doctype html>
<html class="m">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-dns-prefetch-control" content="on">
		<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="renderer" content="webkit">
		<title>损毁管理</title>
		<include file="Common:theme" />
		<link rel="stylesheet" href="__PUBLIC__/css/mobiles/iconfont.css">
	</head>

	<body>

		<div class="wrap2">
			<!-- <div class="head-cate">
            <ul class="ul_2">
                <li style="width:33.33%" <eq name="t" value="1"> class="li_cur"</eq>>
                    <a href="{:U('mobile.php/MIndex/index',array('id'=>$id,'t'=>1))}">
                        <span>轮换管理 </span>
                    </a>
                </li>
                <li style="width:33.33%" <eq name="t" value="2"> class="li_cur"</eq>>
                    <a href="{:U('mobile.php/MIndex/books',array('id'=>$id,'t'=>2))}">
                        <span>图书管理</span>
                    </a>
                </li>
                <li style="width:33.33%" <eq name="t" value="3"> class="li_cur"</eq>>
                    <a href="{:U('mobile.php/MIndex/compen',array('id'=>$id,'t'=>3))}">
                        <span>损毁管理</span>
                    </a>
                </li>
            </ul>
        	</div>

	        <div class="line_hr"></div> -->
	        <div class="head-cate have-bg-cate">
	            <ul class="ul_3">
	                <li style="width:25%"><span><i class="i_ic">学生信息</i></span></li>
	                <li style="width:25%"><span><i class="i_ic">任课老师</i></span></li>
	                <li style="width:25%"><span><i class="i_ic">图书</i></span></li>
	                <li style="width:25%"><span><i class="i_ic">赔偿状态</i></span></li>
	            </ul>
	        </div>

	        <div class="line_hr"></div>
	        <style type="text/css">
	        .cart_pro{height:30px;line-height:30px;margin-bottom:5px;}
	        .dd_pname{padding-left:40px!important;}
	        </style>
	        <!-- <div class="head-cate clearfix" style="height:auto;">
	            <volist name="list" id="vo" empty="暂无数据">
	            <ul class="ul_3" style="height:68px;border-bottom:1px solid #F2F2F2;padding:8px 0;">
	                <li style="width:25%"><span style="border:none;">{$vo.class_name}<br>{$vo.student_name} </span></li>
	                <li style="width:25%"><span style="border:none;">{$vo.teacher_name}</span></li>
	                <li style="width:25%"><span style="border:none;">{$vo.book_name}</span></li>
	                <li style="width:25%"><span style="border:none;">
	                	{$vo.status_name}<br>
	                	<if condition="$vo.compen_status eq '1'">
	                	<a href="javascript:void(0);" bid="{$vo['book_id']}" sid="{$vo['student_id']}" class="ibtn_1 compensate">再次提醒({$vo['message_num']}次)</a>	
	                	<elseif condition="$vo.compen_status eq '2'"/>
	                	<a href="javascript:void(0);" class="ibtn_1">确认入库</a>		
	                	</if>	
	                </span></li>
	            </ul>
	            </volist>
	            
	        </div>   --> 

	        <table class="item-table">
				<empty name="list">
					<div class="data-empty">
					<p><img src="__PUBLIC__/images/mobiles/empty.png"><p>
					<p>暂无数据</p>
					</div>
				</empty>
	        	<volist name="list" id="vo">
	        	<tr>
	        		<td>{$vo.class_name}<br>{$vo.student_name} </td>
	        		<td>{$vo.teacher_name}</td>
	        		<td>{$vo.book_name} <br>替换为:{$vo.replace_book_name}</td>
	        		<td>{$vo.status_name}<br>
	                	<if condition="$vo.compen_status eq '1'">
	                	<a href="javascript:void(0);" bid="{$vo['book_id']}" sid="{$vo['student_id']}" class="ibtn_1 compensate">提醒({$vo['message_num']}次)</a>	
	                	<elseif condition="$vo.compen_status eq '2'"/>
	                	<a href="{:U('mobile.php/MIndex/scan_code',array('bid'=>$vo['book_id'],'sid'=>$vo['student_id'],'cid'=>$vo['id'],'aid'=>$id))}" class="ibtn_1 scan_code">入库</a>		
	                	</if>	
	                </td>
	        	</tr>
	        	</volist>
	        </table>	

			<a href="{:U('mobile.php/MIndex/Index',array('id'=>$id))}">
			<span class="f_index">
				<span class="iconfont icon-shouyeshouye"></span>
			</span>
</a>
		</div>
		<script class="js_prejs" type="text/javascript" src="__PUBLIC__/js/mobiles/lib/jquery.min.js"></script>
		<script src="__PUBLIC__/js/mobiles/layer/mobile/layer.js"></script>
	</body>

<script type="text/javascript">
$(function(){
	$(".storage").click(function(){
		var bid = $(this).attr("bid");
        var sid = $(this).attr("sid");
		var cid = $(this).attr("cid");
		var aid = "{$id}";
		layer.open({
            title: false,
            content: '确定图书已入库？',
            btn:['确定','取消'],
            yes:function(index,layero){
                
                $.post("{:U('mobile.php/MIndex/scan_code')}",{bid:bid,sid:sid,cid:cid,aid:aid},function(result){
                    if(result == 99){
                        layer.open({
                            title:false,
                            content:'操作成功',
                            btn:['关闭'],
                            yes:function(index){
                                layer.closeAll();
                                location.reload();
                            },
                        });
                    }
                });

            },
            btn2:function(index,layero){
                layer.closeAll();
            }
        }); 
		
	});
});
	</script>
</html>