<!doctype html>
<html class="m">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="renderer" content="webkit">
    <title>图书管理员_首页</title>
    <include file="Common:theme" />
    <script class="js_prejs" type="text/javascript" src="__PUBLIC__/js/mobiles/lib/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/mobiles/jquery.datePicker-min.js"></script>
    <link type="text/css" href="__PUBLIC__/css/mobiles/rili.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/css/mobiles/iconfont.css">
    <style type="text/css">
        .iconfont {
            font-size: 30px;
        }
    </style>
    <link rel="stylesheet" href="__PUBLIC__/css/mobiles/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div class="wrap2 have-bottom-swiper">
        <div class="yuanzhang_t">
            <div class="head-top">{$info.school_name}</div>
            <dl>
                <dt>
                    <a href="{:U('mobile.php/MIndex/avatar',array('user_id'=>$info['admin_id']))}">
                    <img src="{$info.admin_avatar|default='/Public/images/mobiles/default.png'}" alt="background_image" />
                    </a>
                </dt>    
                <dd>
                <div class="qiandao-div">
                    <if condition="$signin lt '0'">
                        <div class="d_signin" id="signin" uid="{$id}"><span class="iconfont icon-qiandao"></span></div>
                    <else/>
                        <div class="d_signin d_signin_d"><span class="iconfont icon-qiandao"></span></div>
                    </if>
                    <input type="hidden" id="signnum" value="{$signnum}">
                </div>    
                    <div class="d_name">
                        {$info.admin_name}
                    </div>
                </dd>
            </dl>
        </div>
        <div class="head-cate">
    <ul class="ul_2">
        
        <li><a href="{:U('mobile.php/Book/index',array('user_id'=>$id,'user_points'=>$userinfo['rank_points'],'user_flag'=>4))}">
            <span class="iconfont icon-duihuan"></span>
            <span class="head-cate-txt">兑换中心</span>
            </a>
        </li>
        <li class=""><a href="{:U('mobile.php/MIndex/setting',array('user_id'=>$id,'user_flag'=>4))}">
            <span class="iconfont icon-shezhi"></span>
            <span class="head-cate-txt">设置</span>
        </a></li>
    </ul></div>
        <ul class="m_menu clearfix">
            <li class="li_item">
            <a href="{:U('mobile.php/MIndex/circul',array('id'=>$id,'t'=>1))}">
                <span class="iconfont icon-huan"></span>
                <span class="m_menu-txt">轮换管理</span>
            </a>
            </li>
            <li class="li_item">
            <a href="{:U('mobile.php/MIndex/books',array('id'=>$id,'t'=>2))}">
                <span class="iconfont icon-tushu"></span>
                <span class="m_menu-txt">图书管理</span>
            </a>
            </li>
            <li class="li_item ">
                <a href="{:U('reissue')}">
                    <span class="fa fa-sign-in" style="font-size:39px;margin-top: 3px;color:#65c7dc"></span>
                    <span class="m_menu-txt">补发接收</span>
                </a>
            </li>

            <li class="li_item">
            <a href="mobile.php?m=mobile.php&c=Student&a=index&id={$info.school_id}&user_flag=4&admin_id={$info.admin_id}">
                <span class="iconfont icon-xuesheng"></span>
                <span class="m_menu-txt">学生信息</span>
            </a>
            </li>
            <li class="li_item">
            <a href="{:U('Datainfo/index',array('admin_id'=>$info['admin_id'],'id'=>$info['school_id'],'user_flag'=>4))}">
                <span class="iconfont icon-shuju1"></span>
                <span class="m_menu-txt">数据统计</span>
            </a>
            </li>
            <li class="li_item <if condition="$userinfo.message_num gt '0'">li_item_p</if>">
                <a href="{:U('mobile.php/MIndex/get_message_list',array('user_id'=>$id,'user_flag'=>4))}">
                <span class="iconfont icon-xiaoxi"></span>
                <span class="m_menu-txt">消息</span>
                </a>
            </li>

            <li class="li_item ">
                <a href="/default.php/Live">
                    <span class="fa fa-graduation-cap" style="font-size:39px;margin-top: 3px;color:#ff9d4d"></span>
                    <span class="m_menu-txt">专家讲堂</span>
                </a>
            </li>

            <li class="li_item ">
                <a href="/sns.php?m=sns.php&c=forum&a=bbs">
                    <span class="fa fa-group" style="font-size:39px;margin-top: 3px;color:#C492DC"></span>
                    <span class="m_menu-txt">论坛</span>
                </a>
            </li>
        <!--
            <li class="li_item">
                <a href="{:U('mobile.php/Cart/index',array('user_id'=>$id,'user_flag'=>4))}">
                    <span class="iconfont icon-mangouwuche"></span>
                    <span class="m_menu-txt">购物车</span>
                </a>
            </li>

            <li class="li_item">
            <a href="mobile.php?m=mobile.php&c=Order&a=index&user_id={$id}&user_flag=4">
                <span class="iconfont icon-dingdan"></span>
                <span class="m_menu-txt">订单</span>
            </a>
            </li>
        -->
        </ul>
        <div class="line_hr"></div>
        <style type="text/css">
        .cart_pro{height:30px;line-height:30px;margin-bottom:5px;}
        .ddpname{padding-left:10px!important;}
        .dd_pname{padding-left:40px!important;}
        </style>
        <div class="line_hr"></div>
      
</div>
<!--
<div class="footer2">
    <div class="swiper-home swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="__PUBLIC__/images/mobiles/ban_mx.jpg">
            </div>
        </div>
        <div class="swiperp_box"><div class="swiper-pagination"></div></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
-->
    <script src="__PUBLIC__/js/mobiles/lib/swiper.min.js"></script>
    <script src="__PUBLIC__/js/mobiles/layer/mobile/layer.js"></script>
<script type="text/javascript">
$(function(){
    var swiper = new Swiper('.swiper-container', {
                pagination : '.swiper-pagination',
                nextButton : '.swiper-button-next',
                prevButton : '.swiper-button-prev',
                loop : true,
                paginationClickable : true
            });
    var bHeight = $('.swiper-home').height();
    $('.have-bottom-swiper').css("bottom",bHeight);
    
    $(".ibtn_1").click(function(){
        var gid = $(this).attr('gid'); 
        $("#grade_time"+gid).datePicker({
            inline:true,
            selectMultiple:false,
            renderCallback:function(y, m, B, p){ 
                y.bind("click",function(event){
                    var da=new Date(y.find(".td_td").attr("da"));
                    var str =da.getFullYear()+"-"+(da.getMonth()+1)+"-"+da.getDate(); 

                    $.ajax({
                        type: "get",
                        url: "/mobile.php?m=mobile.php&c=MIndex&a=ajax_time&str_date="+encodeURI(str)+"&grade_id="+gid,
                        async: false,
                        dataType: "json",
                        success: function(data) {
                            $("#grade_time"+gid).text(str);
                            //$(".p_title").text(data.task_title);
                            //$(".p_desc").text(data.task_desc);
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown)
                         {
                            alert(textStatus);
                        }
                    });
                });
            }
        });
    });

    $("#signin").click(function(){
        var uid = $(this).attr('uid');
        var num = $("#signnum").val();
        var uflag = 4;
        $.post("{:U('mobile.php/MIndex/signin')}",{user_id:uid,user_flag:uflag,signnum:num},function(ret){
            if(ret.code > 0){
     

                layer.open({
                    title:false,
                    content:'签到成功,本次签到获得'+ret.user_points+'金豆',
                    btn:['关闭'],
                    yes:function(index){
                        layer.closeAll();
                        location.reload();
                    },
                });
            }
        },'json');
    });
});
</script>    
</body>
</html>