<include file='Common:header' xmlns="http://www.w3.org/1999/html"/>

<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">

	<!-- #section:basics/sidebar -->

	<include file='Common:left' />


	<!-- /section:basics/sidebar -->
	<div class="main-content">
		<div class="main-content-inner">
			<div class="page-content">

				<!--主题-->
				<div class="page-header">
					<h1>
						您当前操作
						<small>
							<i class="ace-icon fa fa-angle-double-right"></i>
							修改学校
						</small>
					</h1>
				</div>


				<div class="row">
					<div class="col-xs-12">
						<form class="form-horizontal" name="school-edit" id="school-edit" method="post">
							<input type="hidden" name="id" id="id" value="{$data.school_id}" />

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 学校名称：  </label>
								<div class="col-sm-10">
									<input type="text" name="school_name"  value="{$data.school_name}"  class="col-xs-10 col-sm-6"/>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 负责人：  </label>
								<div class="col-sm-10">
									<input type="text" name="school_leader" value="{$data.school_leader}"  class="col-xs-10 col-sm-6"/>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 手机号：  </label>
								<div class="col-sm-10">
									<input type="text" name="leader_mobile" value="{$data.leader_mobile}"  class="col-xs-10 col-sm-6"/>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 园长：  </label>
								<div class="col-sm-10">
									<input type="text" name="school_teacher" value="{$data.school_teacher}"  class="col-xs-10 col-sm-6"/>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 手机号：  </label>
								<div class="col-sm-10">
									<input type="text" name="teacher_mobile" value="{$data.teacher_mobile}"  class="col-xs-10 col-sm-6"/>
								</div>
							</div>
							<div class="space-4"></div>


							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 合作伙伴手机号：  </label>
								<div class="col-sm-10">
									<input type="text" name="agent_mobile" value="{$data.agent_mobile}"  class="col-xs-10 col-sm-6"/>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 省/市/县： </label>
								<div class="col-sm-10">
									<select name="province_id"  class="col-sm-2" >
										<option value="">-请选择省份-</option>
										<foreach name="province" item="v">
											<option <eq name='data.province_id' value='$v.region_id'>selected</eq> value="{$v.region_id}">{$v.region_name}</option>
										</foreach>
									</select>
									<select name="city_id"  class="col-sm-2" >
										<option value="">-请选择城市-</option>
										<foreach name="city" item="v">
											<option <eq name='data.city_id' value='$v.region_id'>selected</eq> value="{$v.region_id}">{$v.region_name}</option>
										</foreach>

									</select>
									<select name="district_id"  class="col-sm-2" >
										<option value="">-请选择区县-</option>
										<foreach name="zone" item="v">
											<option <eq name='data.district_id' value='$v.region_id'>selected</eq> value="{$v.region_id}">{$v.region_name}</option>
										</foreach>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 详细地址：  </label>
								<div class="col-sm-10">
									<input type="text" name="school_address" value="{$data.school_address}"  class="col-xs-10 col-sm-6"/>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 规模：  </label>
								<div class="col-sm-10">
									<input type="number" name="school_num"  value="{$data.school_num}"  class="col-xs-10 col-sm-6"/>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 套餐类型：  </label>
								<div class="col-sm-10">
									<select name="meal_type"  class="col-sm-3" >
										<option <eq name='data.meal_type' value='1'>selected</eq> value="1">一周两本</option>
										<option <eq name='data.meal_type' value='2'>selected</eq> value="2">一周四本</option>
									</select>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 市场价：  </label>
								<div class="col-sm-10">
									<input type="number" name="meal_market_price"  value="{$data.meal_market_price}"  class="col-xs-10 col-sm-3"/>
									<span style="line-height: 31px;margin-left: 5px;">元/月</span>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 最大班级人数：  </label>
								<div class="col-sm-10">
									<input type="number" name="class_max_num"  value="{$data.class_max_num}"  class="col-xs-10 col-sm-3"/>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 第一学期开学时间：  </label>
								<div class="col-sm-10">
									<input type="datetime" name="semester_one_start"  value="{$data.semester_one_start|date='Y-m-d',###}"  class="col-xs-10 col-sm-3 daterange"/>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 第一学期放假时间：  </label>
								<div class="col-sm-10">
									<input type="datetime" name="semester_one"  value="{$data.semester_one|date='Y-m-d',###}"  class="col-xs-10 col-sm-3 daterange"/>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 第二学期开学时间：  </label>
								<div class="col-sm-10">
									<input type="datetime" name="semester_two_start"  value="{$data.semester_two_start|date='Y-m-d',###}"  class="col-xs-10 col-sm-3 daterange"/>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 第二学期结束时间：  </label>
								<div class="col-sm-10">
									<input type="datetime" name="semester_two"  value="{$data.semester_two|date='Y-m-d',###}"  class="col-xs-10 col-sm-3 daterange"/>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 还书提醒(一)：  </label>
								<div class="col-sm-10">
									<select name="book_reminder_first"  class="col-sm-3" >
										<option value="0" <eq name="data.book_reminder_first" value="0">selected</eq> >-请选择-</option>
										<option value="1" <eq name="data.book_reminder_first" value="1">selected</eq> >星期一</option>
										<option value="2" <eq name="data.book_reminder_first" value="2">selected</eq> >星期二</option>
										<option value="3" <eq name="data.book_reminder_first" value="3">selected</eq> >星期三</option>
										<option value="4" <eq name="data.book_reminder_first" value="4">selected</eq> >星期四</option>
										<option value="5" <eq name="data.book_reminder_first" value="5">selected</eq> >星期五</option>
										<option value="6" <eq name="data.book_reminder_first" value="6">selected</eq> >星期六</option>
										<option value="7" <eq name="data.book_reminder_first" value="7">selected</eq> >星期日</option>
									</select>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 还书提醒(二)：  </label>
								<div class="col-sm-10">
									<select name="book_reminder_second"  class="col-sm-3" >
										<option value="0" <eq name="data.book_reminder_second" value="0">selected</eq> >-请选择-</option>
										<option value="1" <eq name="data.book_reminder_second" value="1">selected</eq> >星期一</option>
										<option value="2" <eq name="data.book_reminder_second" value="2">selected</eq> >星期二</option>
										<option value="3" <eq name="data.book_reminder_second" value="3">selected</eq> >星期三</option>
										<option value="4" <eq name="data.book_reminder_second" value="4">selected</eq> >星期四</option>
										<option value="5" <eq name="data.book_reminder_second" value="5">selected</eq> >星期五</option>
										<option value="6" <eq name="data.book_reminder_second" value="6">selected</eq> >星期六</option>
										<option value="7" <eq name="data.book_reminder_second" value="7">selected</eq> >星期日</option>
									</select>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 借书日期(一)：  </label>
								<div class="col-sm-10">
									<select name="borrow_first"  class="col-sm-3" >
										<option value="0" <eq name="data.borrow_first" value="0">selected</eq> >-请选择-</option>
										<option value="1" <eq name="data.borrow_first" value="1">selected</eq> >星期一</option>
										<option value="2" <eq name="data.borrow_first" value="2">selected</eq> >星期二</option>
										<option value="3" <eq name="data.borrow_first" value="3">selected</eq> >星期三</option>
										<option value="4" <eq name="data.borrow_first" value="4">selected</eq> >星期四</option>
										<option value="5" <eq name="data.borrow_first" value="5">selected</eq> >星期五</option>
										<option value="6" <eq name="data.borrow_first" value="6">selected</eq> >星期六</option>
										<option value="7" <eq name="data.borrow_first" value="7">selected</eq> >星期日</option>
									</select>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 借书日期(二)：  </label>
								<div class="col-sm-10">
									<select name="borrow_second"  class="col-sm-3" >
										<option value="0" <eq name="data.borrow_second" value="0">selected</eq> >-请选择-</option>
										<option value="1" <eq name="data.borrow_second" value="1">selected</eq> >星期一</option>
										<option value="2" <eq name="data.borrow_second" value="2">selected</eq> >星期二</option>
										<option value="3" <eq name="data.borrow_second" value="3">selected</eq> >星期三</option>
										<option value="4" <eq name="data.borrow_second" value="4">selected</eq> >星期四</option>
										<option value="5" <eq name="data.borrow_second" value="5">selected</eq> >星期五</option>
										<option value="6" <eq name="data.borrow_second" value="6">selected</eq> >星期六</option>
										<option value="7" <eq name="data.borrow_second" value="7">selected</eq> >星期日</option>
									</select>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2  control-label no-padding-right"> 备注： </label>
								<div class="col-sm-10">
									<textarea class="col-sm-6" rows="3" name="school_desc" placeholder="50字以内" class="col-xs-10 col-sm-10" maxlength="50"/>{$data.school_desc}</textarea>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2  control-label no-padding-right"> 收费模式： </label>
								<div class="col-sm-10">
									<div class="radio">
										<label>
											<input name="charge_type" type="radio" class="ace" value="1" <eq name="data.charge_type" value="1">checked="checked"</eq> >
											<span class="lbl"> 线上</span>
										</label>
										<label>
											<input name="charge_type" type="radio" class="ace" value="2" <eq name="data.charge_type" value="2">checked="checked"</eq> >
											<span class="lbl"> 线下</span>
										</label>
									</div>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 优惠计费日期：  </label>
								<div class="col-sm-10">
									<input type="datetime" name="try_charge_time"  value="<notempty name='data.try_charge_time'>{$data.try_charge_time|date='Y-m-d',###}</notempty>"  class="col-xs-10 col-sm-3 daterange"/>
								</div>
							</div>
							<div class="space-4"></div>

							<div class="clearfix form-actions">
								<div class="col-md-offset-3 col-md-9">
									<button class="btn btn-info" type="submit">
										<i class="ace-icon fa fa-check bigger-110"></i>
										保存
									</button>

									&nbsp; &nbsp; &nbsp;
									<button class="btn" type="reset">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										重置
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="hr hr-24"></div>

				<include file='Common:header_nav' />

			</div><!-- /.page-content -->
		</div>
	</div><!-- /.main-content -->

	<include file='Common:footer' />

</div><!-- /.main-container -->
<link rel="stylesheet" href="__PUBLIC__/assets/css/datepicker.css">
<script src="__PUBLIC__/assets/js/date-time/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/assets/js/jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		$("form[name='school-edit']").validate({
			//debug: 'true',
			errorElement: 'span',
			errorClass: 'help-inline middle col-sm-5',
			focusInvalid: true,
			rules: {
				school_name: {required:true},
				school_leader: {required:true},
				leader_mobile: {required:true},
				school_teacher: {required:true},
				teacher_mobile: {required:true},
				province_id: {required:true},
				city_id: {required:true},
				school_num: {required:true},
				meal_type: {required:true},
				meal_market_price: {required:true},
				class_max_num: {required:true},
				semester_one_start: {required:true},
				semester_one: {required:true},
				semester_two_start: {required:true},
				semester_two: {required:true},
			},

			messages: {
				school_name: "请填写学校名称",
				school_leader: "请输入负责人",
				leader_mobile: "请输入负责人手机号",
				school_teacher: "请输入园长",
				teacher_mobile: "请输入园长手机号",
				province_id: "请选择省份",
				city_id: "请选择城市",
				school_num: "请填写规模",
				meal_type: "请选择套餐类型",
				meal_market_price: "请输入市场价",
				class_max_num: "请输入最大班级人数",
				semester_one_start: "请选择时间",
				semester_one: "请选择时间",
				semester_two_start: "请选择时间",
				semester_two: "请选择时间",
			},

			highlight: function (e) {
				$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
			},

			success: function (e) {
				$(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
				$(e).remove();
			},

			errorPlacement: function (error, element) {
				if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
					var controls = element.closest('div[class*="col-"]');
					if(controls.find(':checkbox,:radio').length > 1)
						controls.append(error);
					else
						error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
				}else
					error.insertAfter(element);
			},

			submitHandler: function (form) {
				$(form).ajaxSubmit({
					beforeSubmit: function(){
						wait = layer.load(2);
					},
					success: function(data){
						layer.close(wait);
						if(data.status==1){
							layer.msg(data.info, {icon:6,time:1000}, function(index){
								layer.close(index);
								window.location.href=data.url;
							});
						}else{
							layer.msg(data.info, {icon:5,time:800}, function(index){
								layer.close(index);
							});
							return false;
						}
					},
					error: function showError(responseText, statusText){
						layer.close(wait);
						if(statusText=='timeout'){
							layer.msg("服务器繁忙，请稍后再试！", {icon:5,time:1000});
							return;
						}else{
							layer.msg(statusText,{icon:5,time:1000});
						}
					},
					timeout: 5000,
					dataType: 'json'
				});
			},
		});
		$('select[name="province_id"]').change(function(){
			var id = $(this).val();
			$.get("/default.php/Admin/School/select/id/"+id,function(data,status){
				if(data.status == 1){
					var option = '<option value="">-请选择城市-</option>';
					$.each(data.info,function(){
						option += '<option value="'+this.region_id+'">'+this.region_name+'</option>'
					});
					$('select[name="city_id"]').html(option);
				}
			});
		});
		$('select[name="city_id"]').change(function(){
			var id = $(this).val();
			$.get("/default.php/Admin/School/select/id/"+id,function(data,status){
				if(data.status == 1){
					var option = '<option value="">-请选择区县-</option>';
					$.each(data.info,function(){
						option += '<option value="'+this.region_id+'">'+this.region_name+'</option>'
					});
					$('select[name="district_id"]').html(option);
				}
			});
		});
		$('.daterange').datepicker({autoclose: true});
	});
</script>
</body>
</html>
