<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">
    <title>地区列表_{:L('_WEBSITE_NAME_')}</title>
    <link href="__PUBLIC__/js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
    <link href="__PUBLIC__/js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/js/data-tables/DT_bootstrap.css" />
    <link href="__PUBLIC__/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.js"></script>
    <script src="__PUBLIC__/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="./"><img src="__PUBLIC__/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="./"><img src="__PUBLIC__/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="__PUBLIC__/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <include file="common:menu"/>

        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <include file="common:header"/>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                地区列表
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">后台首页</a>
                </li>
                <li>
                    <a href="#">系统设置</a>
                </li>
                <li class="active"> 地区列表</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <style type="text/css">
            .col-lg-4{color:#65cea7}
            .col-lg-4 label{color:#cccccc}
        </style>
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        
                        <div class="panel-body">
                        <div class="space15"></div>
                            <div class="btn-group  pull-right">
                                <if condition="$parent_url neq ''">
                                <a id="editable-sample_new" href="{$parent_url}" class="btn btn-primary">
                                    返回上一级
                                </a>
                                </if>
                            </div>
                            <form class="form-horizontal" method="post" id="myform"  name="myform" role="form" action="{:U('/Region/add')}">
                                <div class="form-group">
                                    <label for="inputEmail1" class="col-lg-1 col-sm-1 control-label fc-header-center">新增
                                        <if condition="$region_level eq 1">
                                            一级
                                        <elseif condition="$region_level eq 2"/>
                                            二级
                                        <elseif condition="$region_level eq 3"/>
                                            三级
                                        <elseif condition="$region_level eq 4"/>
                                            四级    
                                        </if>
                                        </label>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="region_name"/>
                                        <input type="hidden" name="region_level" value="{$region_level}" />
                                        <input type="hidden" name="parent_id" value="{$parent_id}" />
                                    </div>
                                    <div class="col-lg-2">
                                        <button type="submit" class="btn btn-primary">确定</button>
                                    </div>
                                </div>
                            </form>
                            <header class="panel-heading" style="text-align:center;border-top: 1px dotted rgba(0, 0, 0, 0.2);border-bottom:none;">
                                {$area_here}
                            </header>
                             <div class="space15"></div>
                                <div class="adv-table">
                                    <table  class="display table table-bordered table-striped" id="dynamic-table" style="border-bottom:none;border-right:none;">
                                        <tbody>
                                        <volist name="list" id="vo" key="k">
                                            <tr class="col-lg-4" style="border-bottom:1px solid #cccccc;border-right:1px solid #cccccc;">
                                            <td style="width:100%;border:none;background-color:#FFFFFF;color:#666666;">
                                                {$vo.region_name} |
                                                <if condition="$region_level lt 3">
                                                <a href='{:U("/Region/index/",array("region_id"=>$vo["region_id"]))}' class="edit">管理</a> 
                                                </if>
                                                <a href="javascript:confirmurl('{:U('/Region/del',array('id'=>$vo['region_id']))}', '是否删除?')" class="delete">删除</a>
                                            </td>
                                            </tr>
                                        </volist>
                                    </table>
                                    {$page}
                                </div>
 
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->
        <include file="common:footer"/>
    </div>
    <!-- main content end-->
</section>
<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/modernizr.min.js"></script>
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script>
<!--easy pie chart-->
<script src="__PUBLIC__/js/easypiechart/jquery.easypiechart.js"></script>
<script src="__PUBLIC__/js/easypiechart/easypiechart-init.js"></script>
<!--Sparkline Chart-->
<script src="__PUBLIC__/js/sparkline/jquery.sparkline.js"></script>
<script src="__PUBLIC__/js/sparkline/sparkline-init.js"></script>
<!--icheck -->
<script src="__PUBLIC__/js/iCheck/jquery.icheck.js"></script>
<script src="__PUBLIC__/js/icheck-init.js"></script>
<!-- jQuery Flot Chart-->
<script src="__PUBLIC__/js/flot-chart/jquery.flot.js"></script>
<script src="__PUBLIC__/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="__PUBLIC__/js/flot-chart/jquery.flot.resize.js"></script>
<!--Morris Chart-->
<script src="__PUBLIC__/js/morris-chart/morris.js"></script>
<script src="__PUBLIC__/js/morris-chart/raphael-min.js"></script>
<!--Calendar-->
<script src="__PUBLIC__/js/calendar/clndr.js"></script>
<script src="__PUBLIC__/js/calendar/evnt.calendar.init.js"></script>
<script src="__PUBLIC__/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<!--common scripts for all pages-->
<script src="__PUBLIC__/js/scripts.js"></script>
<!--Dashboard Charts-->
<script src="__PUBLIC__/js/dashboard-chart-init.js"></script>
</body>
</html>
