<!doctype html>
<html class="m">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-dns-prefetch-control" content="on">
		<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="renderer" content="webkit">
		<title>班级图书信息</title>
		<include file="Common:theme" />
		<link rel="stylesheet" href="__PUBLIC__/css/mobiles/iconfont.css">
	</head>

	<body>

		<div class="wrap2">
			<div class="head-cate">
				<ul class="ul_1">
					<li class="li_cur"><span>{$class_name} </span></li>
				</ul>
			</div>
			<div class="line_hr"></div>
			<ul class="cart_list">
				<volist name = "data" id = "vo">
				<li class="li_cart">
					<dl class="cart_pro">
						<dt class=""><img src="{$vo.book_thumb}" alt="" /></dt>
						<dd class="dd_pname2 p_padr">
							<p><b>{$vo.book_name}</b></p>
						</dd>
						<dd class="dd_r dd_r3" style="margin:5px 0 0 0">
							<a href="{:U('mobile.php/Teacher/history/',array('book_id'=>$vo['book_id'],'tid'=>$id))}" class="ibtn_1">借阅历史</a>
						</dd>
					</dl>
				</li>
				</volist>
			</ul>
			<a href="{:U('mobile.php/SIndex/Index',array('id'=>$id))}">
<span class="f_index"><span class="iconfont icon-shouyeshouye"></span></span>
</a>
		</div>
		<script class="js_prejs" type="text/javascript" src="__PUBLIC__/js/mobiles/lib/jquery.min.js"></script>
		<script type="text/javascript">
		</script>
	</body>

</html>