<!doctype html>
<html class="m">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="renderer" content="webkit">
    <title>评价</title>
    <include file="Common:theme" />
	<link rel="stylesheet" href="__PUBLIC__/css/mobiles/iconfont.css">
    <script class="js_prejs" type="text/javascript" src="__PUBLIC__/js/mobiles/lib/jquery.min.js"></script> 
</head>
<body>
    <div class="wrap2">
        <div class="head-cate">
            <ul class="ul_2">
                <li  style="width:33%" 
                    <eq name="circul_status" value="2"> class="li_cur"</eq>>
                    <a href="{:U('mobile.php/TBorrow/index',array('teacher_id'=>$teacher_id,'circul_status'=>2))}">
                        <span>借阅 </span>
                    </a>
                </li>
                <li  style="width:34%" 
                    <eq name="circul_status" value="1"> class="li_cur"</eq>>
                    <a href="{:U('mobile.php/TBorrow/index',array('teacher_id'=>$teacher_id,'circul_status'=>1))}">
                        <span>归还</span>
                    </a>
                </li>
                <li style="width:33%" <eq name="circul_status" value="3"> class="li_cur"</eq>>
                    <a href="{:U('mobile.php/TBorrow/evaluate',array('teacher_id'=>$teacher_id,'circul_status'=>3))}">
                        <span>评价</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="line_hr"></div>
        <div id="div1">
            <div class="dengj_tit">已完成</div>
            <ul class="cart_list order_list ck_list finish">
                <empty name="list">
					<div class="data-empty">
					<p><img src="__PUBLIC__/images/mobiles/empty.png"><p>
					<p>暂无数据</p>
					</div>
				</empty>
				<volist name="list" id="vo">
                    <li class="li_cart li_cart_ck" uid="{$vo['student_id']}">
                        <dl class="cart_pro">
                            <dt class="dt_tx"><img src="{$vo['student_avatar']|default='Public/images/mobiles/tx.png'}" alt="" /></dt>
                            <dd class="dd_pname2">
                                <p><b>{$vo['student_name']} </b></p>
                            </dd>
                        </dl>
                        <div class="i_btn"></div>
                    </li>
                </volist>
					
            </ul>
			<notempty name="list">
             <div class="footer2" style="position:relative;">
				<ul class="footer_pbtn">
				  <input type="hidden" id="user_id" value="{$user_id}">	
				  <input type="hidden" id="user_flag" value="{$user_flag}">
				  <li class="fbtn_l"><span class="pay_quan pay_quan_ed" id="a_ckall">全选</span></li>
				  <li class="fbtn_r" style="line-height:40px;"><a id="send" href="javascript:void(0);" class="ibtn_1" style="float:right;margin-top:14px;margin-right:10px;">评价</a></li>
				</ul>
			  </div>
			  </notempty>
            <div class="line_hr"></div>
			<div style="clear:both;"></div>
            <div class="dengj_tit">未完成</div>
            <ul class="cart_list order_list ck_list unfinish">
				<empty name="circulation_list">
					<div class="data-empty">
					<p><img src="__PUBLIC__/images/mobiles/empty.png"><p>
					<p>暂无数据</p>
					</div>
				</empty>
                <volist name="circulation_list" id="vo">
                    <li class="li_cart li_cart_ck" style="clear:both;" uid="{$vo['student_id']}">
                        <dl class="cart_pro">
                            <dt class="dt_tx"><img src="{$vo['student_avatar']|default='Public/images/mobiles/tx.png'}" alt="" /></dt>
                            <dd class="dd_pname2">
                                <p><b>{$vo['student_name']} </b></p>
                            </dd>
                        </dl>
                        <div class="i_btn"></div>
                    </li>
                </volist>
            </ul>
			<notempty name="circulation_list">
			<div class="footer2" style="position:relative;">
				<ul class="footer_pbtn">
				  
				  <li class="fbtn_l"><span class="pay_quan pay_quan_ed" id="a_ckall1">全选</span></li>
				  <li class="fbtn_r" style="line-height:40px;"><a id="remind" f="$vo[flag]" href="javascript:void(0);" class="ibtn_1" style='float:right;<if condition="$vo[flag] gt 0">background-color:#ccc;</if>;margin-top:14px;margin-right:10px;'>提醒</a></li>
				</ul>
			  </div>
			  </notempty>
        </div>
    </div>
      <a href="{:U('mobile.php/TIndex/index',array('teacher_id'=>$teacher_id))}">
<span class="f_index" style="bottom:40px;"><span class="iconfont icon-shouyeshouye"></span></span>
</a> 

<script type="text/javascript">
$(function(){

	$("#send").click(function(){
		var list = $(".finish li");
		var values = [];
		var key = 0;
		for (var i=0;i<list.length;i++) {
			f = list.eq(i).hasClass('li_cart_ck');
			if(f){
				values[key] = list.eq(i).attr('uid');
				key++;
			}
		};
		var tid = "{$teacher_id}";
		location.href="/mobile.php?m=mobile.php&c=TBorrow&a=task_comment&teacher_id="+tid+"&eval_type=1&circul_status=3&student_id="+values.join(',');
	});
	
	$("#remind").click(function(){
		var list = $(".unfinish li");
		var values = [];
		var key = 0;
		for (var i=0;i<list.length;i++) {
			f = list.eq(i).hasClass('li_cart_ck');
			if(f){
				values[key] = list.eq(i).attr('uid');
				key++;
			}
		};
		var tid = "{$teacher_id}";
		var f = $(this).attr("f");
		location.href="/mobile.php?m=mobile.php&c=TBorrow&a=task_comment&teacher_id="+tid+"&eval_type=2&circul_status=3&flag="+f+"&student_id="+values.join(',');
	});

	$("#a_ckall").bind("click",function(){
		if($(this).hasClass("pay_quan_ed")){
			$(this).removeClass("pay_quan_ed");
			$.each($(".finish .li_cart"),function(b, c) { 
				$(c).removeClass("li_cart_ck");		
			});
		}else{
			if($(".finish .li_cart").length>0){
				$(this).addClass("pay_quan_ed");
				$.each($(".finish .li_cart"),function(b, c) { 
					$(c).addClass("li_cart_ck");		
				});
			}else{
				alert("暂无数据！");
			}
		}
		
	});
	
	$("#a_ckall1").bind("click",function(){
		if($(this).hasClass("pay_quan_ed")){
			$(this).removeClass("pay_quan_ed");
			$.each($(".unfinish .li_cart"),function(b, c) { 
				$(c).removeClass("li_cart_ck");		
			});
		}else{
			if($(".unfinish .li_cart").length>0){
				$(this).addClass("pay_quan_ed");
				$.each($(".unfinish .li_cart"),function(b, c) { 
					$(c).addClass("li_cart_ck");		
				});
			}else{
				alert("暂无数据！");
			}
		}
		
	});
	
	$(".finish .li_cart").click(function(event){
		$(this).toggleClass("li_cart_ck")
		
		var l=$(".finish .li_cart").length;
		var l2=$(".finish .li_cart_ck").length;
		if(l2==l){
			$("#a_ckall").addClass("pay_quan_ed");	
		}else{
			$("#a_ckall").removeClass("pay_quan_ed");	
		}
		
		event.stopPropagation();
	});
	
	$(".unfinish .li_cart").click(function(event){
		$(this).toggleClass("li_cart_ck")
		
		var l=$(".unfinish .li_cart").length;
		var l2=$(".unfinish .li_cart_ck").length;
		if(l2==l){
			$("#a_ckall1").addClass("pay_quan_ed");	
		}else{
			$("#a_ckall1").removeClass("pay_quan_ed");	
		}
		
		event.stopPropagation();
	});
	
})


</script>
</body>
</html>