<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">
  <title>管理后台_{:L('_WEBSITE_NAME_')}</title>
  <!--icheck-->
  <link href="__PUBLIC__/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="__PUBLIC__/js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="__PUBLIC__/js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="__PUBLIC__/js/iCheck/skins/square/blue.css" rel="stylesheet">
  <!--dashboard calendar-->
  <link href="__PUBLIC__/css/clndr.css" rel="stylesheet">
  <!--Morris Chart CSS -->
  <link rel="stylesheet" href="__PUBLIC__/js/morris-chart/morris.css">
  <!--common-->
  <link href="__PUBLIC__/css/style.css" rel="stylesheet">
  <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="__PUBLIC__/js/html5shiv.js"></script>
  <script src="__PUBLIC__/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="./"><img src="__PUBLIC__/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="./"><img src="__PUBLIC__/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="__PUBLIC__/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                  <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                  <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                  <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <include file="common:menu"/>

        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <include file="common:header"/>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                首页
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">起航巴士</a>
                </li>
                <li class="active">后台管理首页</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-md-6">
                    <!--statistics start-->
                    <div class="row state-overview">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel blue">
                                <div class="symbol">
                                    <i class="fa fa-money"></i>
                                </div>
                                <div class="state-value">
                                    <div class="value">{$order_number}</div>
                                    <div class="title"> 新订单</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel green">
                                <div class="symbol">
                                    <i class="fa fa-eye"></i>
                                </div>
                                <div class="state-value">
                                    <div class="value">{$damage_number}</div>
                                    <div class="title"> 损坏未完成记录</div>
                                </div>
                            </div>
                        </div>
                    </div>
					
					<div class="row state-overview">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel purple">
                                <div class="symbol">
                                    <i class="fa fa-gavel"></i>
                                </div>
                                <div class="state-value">
                                    <div class="value">{$buy_number}</div>
                                    <div class="title">订购总人数</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel red">
                                <div class="symbol">
                                    <i class="fa fa-tags"></i>
                                </div>
                                <div class="state-value">
                                    <div class="value">{$online_number}</div>
                                    <div class="title">上线总人数</div>
                                </div>
                            </div>
                        </div>
                    </div>
					
                    <!--statistics end-->
                </div>
                <div class="col-md-6">
                    <!--more statistics box start-->
                    <div class="panel deep-purple-box">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <div id="graph-donut" class="revenue-graph"></div>

                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    <ul class="bar-legend">
                                        <li><span class="blue"></span> 科普益智类 {$book_cate_1}本</li>
                                        <li><span class="green"></span> 成长故事类 {$book_cate_2}本</li>
                                        <li><span class="purple"></span> 情商培养类 {$book_cate_4}本</li>
                                        <li><span class="red"></span> 好习惯养成类 {$book_cate_5}本</li>
										<li><span class="yellow"></span> 其他 {$book_cate_3}本</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--more statistics box end-->
                </div>
            </div>
            

            

            
        </div>
        <!--body wrapper end-->
        <include file="common:footer"/>
    </div>
    <!-- main content end-->
</section>
<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/modernizr.min.js"></script>
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script>
<!--easy pie chart-->
<script src="__PUBLIC__/js/easypiechart/jquery.easypiechart.js"></script>
<script src="__PUBLIC__/js/easypiechart/easypiechart-init.js"></script>
<!--Sparkline Chart-->
<script src="__PUBLIC__/js/sparkline/jquery.sparkline.js"></script>
<script src="__PUBLIC__/js/sparkline/sparkline-init.js"></script>
<!--icheck -->
<script src="__PUBLIC__/js/iCheck/jquery.icheck.js"></script>
<script src="__PUBLIC__/js/icheck-init.js"></script>
<!-- jQuery Flot Chart-->
<script src="__PUBLIC__/js/flot-chart/jquery.flot.js"></script>
<script src="__PUBLIC__/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="__PUBLIC__/js/flot-chart/jquery.flot.resize.js"></script>
<!--Morris Chart-->
<script src="__PUBLIC__/js/morris-chart/morris.js"></script>
<script src="__PUBLIC__/js/morris-chart/raphael-min.js"></script>
<!--Calendar-->
<script src="__PUBLIC__/js/calendar/clndr.js"></script>
<script src="__PUBLIC__/js/calendar/evnt.calendar.init.js"></script>
<script src="__PUBLIC__/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<!--common scripts for all pages-->
<script src="__PUBLIC__/js/scripts.js"></script>

<!--<script src="__PUBLIC__/js/dashboard-chart-init.js"></script>-->
<!--Dashboard Charts-->
<script>
Morris.Donut({
    element: 'graph-donut',
    data: [
        {value: {$book_cate_1_pre}, label: '科普益智类', formatted: '{$book_cate_1}本' },
        {value: {$book_cate_2_pre}, label: '成长故事类', formatted: '{$book_cate_2}本' },
        {value: {$book_cate_3_pre}, label: '其他', formatted: '{$book_cate_3}本' },
        {value: {$book_cate_4_pre}, label: '情商培养类', formatted: '{$book_cate_4}本' },
        {value: {$book_cate_5_pre}, label: '好习惯养成类', formatted: '{$book_cate_5}本' }
    ],
    backgroundColor: false,
    labelColor: '#fff',
    colors: [
        '#4acacb','#6a8bc0','#5ab6df','#fe8676', '#3CB371'
    ],
    formatter: function (x, data) { return data.formatted; }
});
</script>
</body>
</html>
