<!doctype html>
<html class="m">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-dns-prefetch-control" content="on">
		<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="renderer" content="webkit">
		<title>学生阅读历史</title>
		
		<include file="Common:theme" />
	</head>

	<body>

		<div class="wrap2">

			<ul class="cart_list">

				<li class="li_cart">
					<dl class="cart_pro">
						<dt class="dt_tx"><img src="style/images/pp.png" alt="" /></dt>
						<dd class="dd_pname2 p_padr">
							<p class=" p_name">{$data[0][student_name]}</p>
							<p class=""><b>订购时间 </b>{$data[0][add_time]}</p>
						</dd>
						<dd class="dd_r dd_r2">
							<eq name="data[0][student_name]" value="1">
									<a href="" class="ibtn_1 ibtn_2">在读</a>
								<else/><a href="" class="ibtn_1 ibtn_1">未读</a></eq>
						</dd>
					</dl>
				</li>
			</ul>
			<div class="line_hr"></div>


			<ul class="cart_list ">
				<div class="dian_tit color2">已阅读绘本 </div>
				<volist name="data" id="data">
				<li class="li_cart">
					<dl class="cart_pro">
						<dt><img src="style/images/pp.png" alt="" /></dt>
						<dd class="dd_pname2">
							<p><b>{$data.book_name}</b></p>
							<p><b>借阅时间 </b> {$data.borrow_time}</p>
							<p><b>归还时间 </b> {$data.return_time}</p>
						</dd>
					</dl>
				</li>
				</volist>
			</ul>

		</div>
		<script class="js_prejs" type="text/javascript" src="__STATIC__/lib/jquery.min.js"></script>
		<script type="text/javascript">
			$(function() {

			})
		</script>
	</body>

</html>