<!doctype html>
<html class="m">
<head>
<meta charset="utf-8">
<meta http-equiv="x-dns-prefetch-control" content="on">
<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="renderer" content="webkit">
<title>通知消息</title>
<link rel="stylesheet" href="__PUBLIC__/css/mobiles/base.css">
<link rel="stylesheet" href="__PUBLIC__/css/mobiles/app.css">
<link rel="stylesheet" href="__PUBLIC__/css/mobiles/iconfont.css">
<link rel="stylesheet" href="__PUBLIC__/css/mobiles/font-awesome/css/font-awesome.min.css">
</head>
<body class="">
<header class="demo-header">
    <div class=" " data-am-widget="navbar" style="height:45px;line-height:35px;"> <span class="head_plus">+</span></div>
</header>
 <div class="a_menu">
 <ul>
 	<li><a href="javascript:void(0);" id="teacher"><span>教师</span></a></li>
 </ul>
 </div>
<div class="wrap2"> 
	
	<div class="xx_list">
	<input type="hidden" id="user_id" value="{$user_id}">
	<input type="hidden" id="class_id" value="{$class_id}">
	<empty name="list">
		<div class="data-empty">
		<p><img src="__PUBLIC__/images/mobiles/empty.png"><p>
		<p>暂无数据</p>
		</div>
	</empty>
	<volist name="list" id="vo">
		<div class="d_time">{$key}</div>
		<volist name="vo.lt" id="v">
		<dl <eq name="v.type" value="2">onclick="update_message({$v.message_id});"</eq> id="mid{$v.message_id}" class="dd_xx <if condition="$v['readed'] lt 1">dd_xx_s</if>">
			<dt>
				<eq name="v.type" value="2">
					<i class="fa fa-envelope-o"></i> {$v.sender_name|default='系统消息'}
					<else/>
					<i class="fa fa-paper-plane-o"></i> {$v.receiver_name}
				</eq>
				<span>{$v.sent_time|date="m-d H:i",###}</span>
			</dt>
		<dd class="dd_p">{$v.message} <label class="lab" style="display:none;">{$v.sub_message}</label>
		<if condition="$v['sub_message'] neq ''">
		<a href="javascript:void(0);" class="detail">更多</a>
		</if>
		</dd>
		</dl>
		</volist>
	</volist>
	</div>
	<a href="{:U('mobile.php/Ucenter/index')}">
		<span class="f_index"><span class="iconfont icon-shouyeshouye"></span></span>
	</a>
</div>
<script class="js_prejs" type="text/javascript" src="__PUBLIC__/js/mobiles/lib/jquery.min.js"></script>
<script type="text/javascript">
function update_message(mid)
{
	$.post("{:U('mobile.php/Ucenter/ajax_message')}",{message_id:mid},function(result){
			if(result > 0){
				$('#mid'+mid).removeClass('dd_xx_s');
			}
	});
}

$(function(){

	$(".detail").click(function(){
		if($(this).text() == '隐藏'){
			$(this).text('更多');
		}else{
			$(this).text('隐藏');
		}
		$(this).prev(".lab").toggle();
	});


	$("#teacher").bind("click",function(){
		var uid = $('#user_id').val();
		var cid = $('#class_id').val();
		window.location.href="/mobile.php?m=&&m=mobile.php&c=Ucenter&a=select_teacher&user_id="+uid+"&class_id="+cid;	
	});
	$(".head_plus").click(function(){
		$(".a_menu").toggle();
	})
})
</script>
</body>
</html>