<!doctype html>
<html class="m">
<head>
<meta charset="utf-8">
<meta http-equiv="x-dns-prefetch-control" content="on">
<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="renderer" content="webkit">
<title>任务评价</title>
<link rel="stylesheet" href="__PUBLIC__/css/mobiles/base.css">
<link rel="stylesheet" href="__PUBLIC__/css/mobiles/app.css">
</head>
<body>

<div class="wrap2"> 
<div class="renw_list">
	<dl class="dl_rw">
		<dt><span class="color2">{$info.task_title}</span> </dt>
		<dd class="dd_info"><b>任务描述：</b>{$info.task_desc}</dd>
	</dl>

</div>
	
<div class="line_hr"></div>
<form name="myform" id="myform" action="{:U('mobile.php/Ucenter/comment_handle')}" method="post">
<input type="hidden" name="task_id" value="{$task_id}"/>
<input type="hidden" name="student_id" value="{$student_id}"/>
<ul class="ul_form ul_form_jz">
	<li>
		<span class="s_label">任务选项</span>  
		
	</li>
</ul>	
<div style="background-color:#FFF;">
	<ul class="">
		<volist name="option" id="vo"> 
			<li style="line-height:30px;margin-left:10px;">
				<if condition="$vo['option_type'] eq '1'">
					<input type="radio" name="option_id" value="{$vo.option_id}">
				<elseif condition="$vo['option_type'] eq '2'"/>
					<input type="checkbox" name="option_id[]" value="{$vo.option_id}">
				</if>
				{$vo.option_name}
			</li>
		</volist>
	</ul>
	<input type="hidden" id="task_level" value="1">
</div>


<br><br><br>
	<div class="btn_box btn_boxadd"><a href="javascript:void(0);" class="btn btn2 btn_addjz">提交</a></div>
</form>

<a href="{:U('mobile.php/Ucenter/index')}">
<span class="f_index">首页</span>
</a>
</div>
<script class="js_prejs" type="text/javascript" src="__PUBLIC__/js/mobiles/lib/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
		$(".btn_addjz").click(function(){
			$("#myform").submit();
		});
		
		$(".img_del").click(function(){
			$(this).parents(".btn_photo_upload").removeClass("btn_photo_del");
			$(this).parent().find("img").remove();
			$(this).parent().find(".input_file").val("");
		})
	 
});

function rate(obj,oEvent,hoverClass,inputObj){ 
	var defaultClass = ""; 

//	if(obj.rateFlag) return; 
	var e = oEvent || window.event; 
	var target = e.target || e.srcElement;  
	var starArray = obj.getElementsByTagName("li"); 
	for(var i=0;i<starArray.length;i++){ 
		starArray[i]._num = starArray.length; 
		starArray[i].onclick=function(){ 
		//	if(obj.rateFlag)
		//	return; 
		//	obj.rateFlag=true; 
			document.getElementById(inputObj).value=this._num+1;
		}; 
	} 
	if(target.tagName=="LI"){ 
		for(var j=0;j<starArray.length;j++){ 
		//	console.log(j);
			if(j<=target._num){ 
				starArray[j].className=hoverClass; 
				document.getElementById(inputObj).value=target._num+1;
			}else{ 
				starArray[j].className=defaultClass; 
			} 
		} 
	}else{ 
		for(var k=0;k<starArray.length;k++){ 
		//	starArray[k].className=defaultClass; 
		} 
	} 
	
} 
</script>
</body>
</html>