<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">
  <title>任务信息_{:L('_WEBSITE_NAME_')}</title>
  <link href="__PUBLIC__/js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
  <link href="__PUBLIC__/js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
  <link rel="stylesheet" href="__PUBLIC__/js/data-tables/DT_bootstrap.css" />

  <link href="__PUBLIC__/css/style.css" rel="stylesheet">
  <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="__PUBLIC__/js/html5shiv.js"></script>
  <script src="__PUBLIC__/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="./"><img src="__PUBLIC__/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="./"><img src="__PUBLIC__/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="__PUBLIC__/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                  <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                  <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                  <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <include file="common:menu"/>

        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <include file="common:header"/>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                <if condition="$info.task_id gt 0">修改<else/>添加</if>任务信息
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">后台首页</a>
                </li>
                <li>
                    <a href="#">促销管理</a>
                </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <style type="text/css">
            .col-lg-4{color:#65cea7}
            .col-lg-4 label{color:#cccccc}
        </style>
        <div class="wrapper">
            <div class="row">
                        <div class="col-lg-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <if condition="$info.task_id gt 0">修改<else/>添加</if>任务
                                    <span class="pull-right">
                                        <a href="{:U('Task/index')}" class="btn btn-primary">任务管理</a>
                                        <a href="javascript:void(0);" class="btn disabled">添加任务</a>
                                     </span>
                                </header>

                                <div class="panel-body">
                                    <form class="form-horizontal" enctype='multipart/form-data' method="post" name="myform" action="{:U('task/edit_handle')}" role="form">
                            
                                        <div class="form-group">
                                            <label class="col-lg-2 col-sm-2 control-label">任务类型</label>
                                            <div class="col-lg-3">
                                                <select name="task_type">
                                                    <option value="1" <eq name="info.task_type" value='1'>selected</eq>>常规</option>
                                                    <option value="2" <eq name="info.task_type" value='2'>selected</eq>>临时</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-sm-2 control-label">任务名称</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" name="task_title" value="{$info.task_title}">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="col-lg-2 col-sm-2 control-label">任务描述</label>
                                            <div class="col-lg-6">
                                                <textarea class="form-control" name="task_desc" cols="20" rows="2">{$info.task_desc }</textarea>
                                            </div>
                                        </div>
                                       
                                        <div class="form-group">
                                            <label class="col-lg-2 col-sm-2 control-label">奖励积分</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" name="task_award" value="{$info.task_award}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 col-sm-2 control-label">任务链接</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="task_url" value="{$info.task_url}">
                                            </div>
                                        </div>
										<volist name="options" id="vo">
										<div class="form-group">
											<label class="col-lg-2 col-sm-2 control-label">
												<select name="option_type[]">
													<option value='1' <eq name='vo.option_type' value='1'>selected</eq>>单选题</option>
													<option value='2' <eq name='vo.option_type' value='2'>selected</eq>>多选题</option>
												</select>
											</label>
											<div class="col-lg-5">	
												正确答案：<select name="correct_value[]">
													<option value='0' <eq name='vo.correct_value' value='0'>selected</eq>>否</option>
													<option value='1' <eq name='vo.correct_value' value='1'>selected</eq>>是</option>
												</select>
												<input type="text" class="form-control" name="option_name[]" value="{$vo.option_name}">
												
												<a href="javascript:;" class="del_options">删除</a>
											</div>
                                        </div>
                                        </volist>
										<div class="form-group" id="add_options_id">
											<label class="col-lg-2 col-sm-2 control-label">
												&nbsp;
											</label>
											<div class="col-lg-5">	
												<a href="javascript:void(0);" id="add_options" class="btn btn-primary">添加选项</a>
											</div>
										
										</div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-1 col-lg-10">
												
												<input type="hidden" name="task_id" value="{$info.task_id}"/>
                                                <input type="submit" class="btn btn-primary" value="提交"/>
												
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </section>

                        </div>


            </div>
        </div>
        <!--body wrapper end-->
        <include file="common:footer"/>
    </div>
    <!-- main content end-->
</section>
<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script>
    laydate({
        elem: '#start_time'
    });
    laydate({
        elem: '#end_time'
    });
    function change_grade(){
        var sid = $('#school_id').val();
        $.ajax({
            type:'post',
            url:"{:U('/Student/ajax_grade')}",
            data:{school_id:sid},
            dataType:'json',
            success:function(data){
                var arr = '';
                arr += "<option>请选择</option>";
                for(var i=0;i<data.length;i++){
                    arr += "<option value='"+data[i]['grade_id']+"'>"+data[i]['grade_name']+"</option>";
                }
                $('#grade_id').html(arr);
                $('#class_id').html("<option>请选择</option>");
                $('#teacher_id').html("<option>请选择</option>");
            }
        });
    }

    function change_class(){
        var gid = $('#grade_id').val();
        $.ajax({
            type:'post',
            url:"{:U('/Student/ajax_class')}",
            data:{grade_id:gid},
            dataType:'json',
            success:function(data){
                var arr = '';
                arr += "<option>请选择</option>";
                for(var i=0;i<data.length;i++){
                    arr += "<option value='"+data[i]['class_id']+"'>"+data[i]['class_name']+"</option>";
                }
                $('#class_id').html(arr);
                $('#teacher_id').html("<option>请选择</option>");
            }
        });
    }

    function change_teacher(){
        var cid = $('#class_id').val();
        $.ajax({
            type:'post',
            url:"{:U('/Student/ajax_teacher')}",
            data:{class_id:cid},
            dataType:'json',
            success:function(data){
                var arr = '';
                arr += "<option>请选择</option>";
                for(var i=0;i<data.length;i++){
                    arr += "<option value='"+data[i]['teacher_id']+"'>"+data[i]['teacher_name']+"</option>";
                }
                $('#teacher_id').html(arr);
            }
        });
    }

	$(document).ready(function(){
		
		
	});
</script>
<script type="text/javascript">
$(document).ready(function(){
	
	

	var str = "<div class='form-group'><label class='col-lg-2 col-sm-2 control-label'><select name='option_type[]'><option value='1'>单选题</option><option value='2'>多选题</option></select></label><div class='col-lg-5'>正确答案：<select name='correct_value[]'><option value='0'>否</option><option value='1'>是</option></select><input type='text' class='form-control' name='option_name[]' value=''><a href='javascript:;' class='del_options'>删除</a></div></div>";
	$("#add_options").click(function(){
		$("#add_options_id").before(str);
	});
	
	$(document).on('click', '.del_options',function(){
		$(this).parent().parent(".form-group").remove();
	});
});
</script>
</body>
</html>
