<!doctype html>
<html class="m">
<head>
<meta charset="utf-8">
<meta http-equiv="x-dns-prefetch-control" content="on">
<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="renderer" content="webkit">
<title>等级</title>
<link rel="stylesheet" href="__PUBLIC__/css/mobiles/base.css">
<link rel="stylesheet" href="__PUBLIC__/css/mobiles/app.css">
<link rel="stylesheet" href="__PUBLIC__/css/mobiles/iconfont.css">
</head>
<body class="">

<div class="wrap2 "> 
<dl class="dengji_u">
<dt class="dt_tx"><img src="__PUBLIC__/images/mobiles/dj_tx.png" alt="" /></dt>
<dd class="dd_name" style="color:#ffae00;"><strong>当前等级 {$teacher_rank} 级</strong>  <p>累计获得金豆{$user_points}颗</p></dd> 
</dl>
<div class="line_hr"></div>

  <div class="dengj_tit">下一等级</div>
   <dl class="dl_dengj">
			<dt><img src="__PUBLIC__/images/mobiles/ic_dengj.png" alt="" /></dt>
			<dd>等级 {$nextrank} 级<br><span class="s_text">累计获得金豆{$next_points}颗</span></dd>
	</dl>
	  <dl class="dl_dengj" style="display:none;">
			<dt><img src="style/images/ic_dengj.png" alt="" /></dt>
			<dd>等级 1 级<br><span class="s_text">累计获得金豆10颗</span></dd>
	</dl>
	  <dl class="dl_dengj" style="display:none;">
			<dt><img src="style/images/ic_dengj.png" alt="" /></dt>
			<dd>等级 1 级<br><span class="s_text">累计获得金豆10颗</span></dd>
	</dl>
	
  <div class="line_hr"></div>
	<div class="dengj_tit">勋章</div>
	<div class="c_xunz">
		<ul class="clearfix">
		<volist name="medal_list" id="vo">		
		<li><img src="<if condition='$vo.flag gt 0'>{$vo.medal_high_pic}<else/>{$vo.medal_pic}</if>" alt="{$vo.medal_name}" /> <span>{$vo.remark}</span></li>
		</volist>
		</ul>
	</div>
	
	








 <a href="{:U('mobile.php/TIndex/index',array('teacher_id'=>$user_id))}">
<span class="f_index" style="bottom:15px;"><span class="iconfont icon-shouyeshouye"></span></span>
</a> 

</div>
</body>
</html>