	<include file='Common:header' />

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">

			<!-- #section:basics/sidebar -->

	<include file='Common:left' />


			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">

                        
                        
                        <!--主题-->
						<div class="page-header">
							<h1>
								您当前操作
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									修改菜单信息
								</small>
							</h1>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<form class="form-horizontal" id="validation-form" method="post" action="{:U('menuEdit')}" novalidate="novalidate">
									<div class="form-group">
										<label class="control-label col-xs-12 col-sm-3 no-padding-right">菜单ID：</label>
										<div class="col-xs-12 col-sm-9">
											<div class="clearfix">
												<input type="text" name="id" value="{$data.id}" class="col-xs-10 col-sm-6" readonly/>
											</div>
										</div>
									</div>
									<div class="space-2"></div>

									<div class="form-group">
										<label class="control-label col-xs-12 col-sm-3 no-padding-right">父级菜单：</label>
										<div class="col-xs-12 col-sm-9">
											<div class="clearfix">
												<select name="pid"  class="col-sm-3" >
														<option>--无--</option>
													<foreach name="first_level" item="v">
														<option <if condition="$data['pid'] eq $v['id']">selected</if> value="{$v.id}">{$v.name}</option>
													</foreach>
												</select>
												<span class="help-inline col-xs-12 col-sm-7">
													<span class="middle">最多包括3个父级菜单</span>
												</span>
											</div>
										</div>
									</div>
									<div class="space-2"></div>

									<div class="form-group">
										<label class="control-label col-xs-12 col-sm-3 no-padding-right">菜单名称：</label>
										<div class="col-xs-12 col-sm-9">
											<div class="clearfix">
												<input name="name" type="text" value="{$data.name}" class="col-xs-10 col-sm-6"/>
											</div>

										</div>
										<span class="col-sm-3"></span>
										<span class="col-sm-9" style="font-size:12px; color:#999; margin-top:5px;"> 一级菜单4个汉字，二级菜单7个汉字，每个一级菜单最多包含5个二级菜单</span>
									</div>
									<div class="space-2"></div>

									<div class="form-group">
										<label class="control-label col-xs-12 col-sm-3 no-padding-right">URL：</label>
										<div class="col-xs-12 col-sm-9">
											<div class="clearfix">
												<input name="url" type="text" value="{$data.url}" class="col-xs-10 col-sm-6"/>
											</div>
										</div>
										<span class="col-sm-3"></span>
										<span class="col-sm-9" style="font-size:12px; color:#999; margin-top:5px;">一级菜单有子菜单的不填</span>
									</div>
									<div class="space-2"></div>

									<div class="form-group">
										<label class="control-label col-xs-12 col-sm-3 no-padding-right">排序：</label>
										<div class="col-xs-12 col-sm-9">
											<div class="clearfix">
												<input name="sort" type="text" value="{$data.sort}" class="col-xs-10 col-sm-6"/>
											</div>
										</div>
									</div>
									<div class="space-2"></div>


									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												保存
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												重置
											</button>
										</div>
									</div>
								</form>
                        	</div>
                        </div>
									<div class="hr hr-24"></div>

<include file='Common:header_nav' />

					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

	<include file='Common:footer' />

		</div><!-- /.main-container -->
	</body>
	<script src="__PUBLIC__/assets/js/jquery.validate.js"></script>
	<script type="text/javascript">
		jQuery(function($) {
			$('#validation-form').validate({
				debug: 'true',
				errorElement: 'div',
				errorClass: 'help-block',
				focusInvalid: true,
				rules: {
					name: {
						required: true,
					},
				},

				messages: {
					name: {
						required: "菜单名称不能为空",
					},
				},


				highlight: function (e) {
					$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
				},

				success: function (e) {
					$(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
					$(e).remove();
				},

				errorPlacement: function (error, element) {
					if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
						var controls = element.closest('div[class*="col-"]');
						if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
						else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
					}
					else if(element.is('.select2')) {
						error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
					}
					else if(element.is('.chosen-select')) {
						error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
					}
					else error.insertAfter(element.parent());
				},

				submitHandler: function (form) {
					$(form).ajaxSubmit({
						//beforeSubmit: showRequest,
						success: function(data){
							if(data.status==1){
								layer.alert(data.info, {icon: 6}, function(index){
									layer.close(index);
									window.location.href=data.url;
								});
							}else{
								layer.alert(data.info, {icon: 5}, function(index){
									layer.close(index);
								});
								return false;
							}
						},
						dataType: 'json'
					});
				},
				invalidHandler: function (form) {
				}
			});
		});
	</script>
</html>
