<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">
  <title>渠道信息_{:L('_WEBSITE_NAME_')}</title>
  <link href="__PUBLIC__/js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
  <link href="__PUBLIC__/js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
  <link rel="stylesheet" href="__PUBLIC__/js/data-tables/DT_bootstrap.css" />

  <link href="__PUBLIC__/css/style.css" rel="stylesheet">
  <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="__PUBLIC__/js/html5shiv.js"></script>
  <script src="__PUBLIC__/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="./"><img src="__PUBLIC__/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="./"><img src="__PUBLIC__/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="__PUBLIC__/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                  <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                  <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                  <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <include file="common:menu"/>

        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <include file="common:header"/>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                <if condition="$info.teacher_id gt 0">修改<else/>添加</if>渠道信息
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">后台首页</a>
                </li>
                <li>
                    <a href="#">用户管理</a>
                </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <style type="text/css">
            .col-lg-4{color:#65cea7}
            .col-lg-4 label{color:#cccccc}
        </style>
        <div class="wrapper">
            <div class="row">
                        <div class="col-lg-12">
                            <section class="panel">
                               
                                <header class="panel-heading">
                                    
                                    <if condition="$info.teacher_id gt 0">修改<else/>添加</if>渠道信息
                                    <span class="pull-right">
                                        <a href="{:U('index')}" class="btn btn-primary">渠道列表</a>
                                        <a href="javascript:void(0);" class="btn disabled">添加渠道</a>
                                     </span>
                                </header>

                                <div class="panel-body">
                                    <form class="form-horizontal" method="post" name="myform">

                                        <div class="form-group">
                                            <label class="col-lg-2 col-sm-2 control-label">渠道名称</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" name="name">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 col-sm-2 control-label">联系方式</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" name="mobile" maxlength="11">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 col-sm-2 control-label">密码</label>
                                            <div class="col-lg-3">
                                                <input type="password" class="form-control" name="pwd">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 col-sm-2 control-label">重复密码</label>
                                            <div class="col-lg-3">
                                                <input type="password" class="form-control" name="pwd_repeat">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 col-sm-2 control-label">所属省份</label>
                                            <div class="col-lg-3">
                                                <select name="province" id="province" class="form-control m-bot15">
                                                    <option value="">—请选择省份—</option>
                                                    <volist name="province" id="vo">
                                                        <option value="{$vo['region_id']},{$vo['region_name']}">{$vo['region_name']}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 col-sm-2 control-label">所属城市</label>
                                            <div class="col-lg-3">
                                                <select name="city" id="city" class="form-control m-bot15">
                                                    <option value="">—请选择城市—</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 col-sm-2 control-label">银行卡号</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" name="bank_card">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 col-sm-2 control-label">开户行</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" name="bank_name">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-offset-1 col-lg-10">
                                                <input type="submit" class="btn btn-primary" value="提交"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </section>

                        </div>


            </div>
        </div>
        <!--body wrapper end-->
        <include file="common:footer"/>
    </div>
    <!-- main content end-->
</section>
<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/modernizr.min.js"></script>
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script>
<!--easy pie chart-->
<script src="__PUBLIC__/js/easypiechart/jquery.easypiechart.js"></script>
<script src="__PUBLIC__/js/easypiechart/easypiechart-init.js"></script>
<!--Sparkline Chart-->
<script src="__PUBLIC__/js/sparkline/jquery.sparkline.js"></script>
<script src="__PUBLIC__/js/sparkline/sparkline-init.js"></script>
<!--icheck -->
<script src="__PUBLIC__/js/iCheck/jquery.icheck.js"></script>
<script src="__PUBLIC__/js/icheck-init.js"></script>
<!-- jQuery Flot Chart-->
<script src="__PUBLIC__/js/flot-chart/jquery.flot.js"></script>
<script src="__PUBLIC__/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="__PUBLIC__/js/flot-chart/jquery.flot.resize.js"></script>
<!--Morris Chart-->
<script src="__PUBLIC__/js/morris-chart/morris.js"></script>
<script src="__PUBLIC__/js/morris-chart/raphael-min.js"></script>
<!--Calendar-->
<script src="__PUBLIC__/js/calendar/clndr.js"></script>
<script src="__PUBLIC__/js/calendar/evnt.calendar.init.js"></script>
<script src="__PUBLIC__/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<!--common scripts for all pages-->
<script src="__PUBLIC__/js/scripts.js"></script>
<!--Dashboard Charts-->
<script src="__PUBLIC__/js/dashboard-chart-init.js"></script>

<script type="text/javascript" src="__PUBLIC__/js/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/layer/skin/layer.css"></script>
<script src="__PUBLIC__/js/jquery.form.js"></script>
<script>
    $(function(){
        $("#province").change(function(){
            var province = $(this).val();
            $.ajax({
                type:'get',
                url:"{:U('getCity')}",
                data:{province:province},
                dataType:'json',
                success:function(data){
                    var arr = '';
                    $.each(data,function(k,v){
                        arr += "<option value='"+ v.region_id+','+ v.region_name +"'>"+ v.region_name+"</option>\r\n";
                    });
                    $('#city').html(arr);
                }
            });
        });

        var wait;

        $("form[name='myform']").validate({
            //debug: 'true',
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: true,
            rules: {
                name: {required:true,},
                mobile: {required: true},
                pwd: {required: true, minlength: 6,},
                pwd_repeat: {equalTo: "input[name='pwd']",},
                province: {required:true},
                city: {required:true},
                bank_card: {required:true},
                bank_name: {required:true},

            },

            messages: {
                name: "请输入名称",
                mobile: "请输入联系方式",
                pwd: {required: '请输入密码',minlength:'密码不能少于6位'},
                pwd_repeat:{equalTo:'两次密码不一致'},
                province: {required:'请选择省份'},
                city: {required:'请选择城市'},
                bank_card: {required:'请填写银行卡号'},
                bank_name: {required:'请填写开户行'},
            },

            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                $(e).remove();
            },

            errorPlacement: function (error, element) {
                if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if(controls.find(':checkbox,:radio').length > 1)
                        controls.append(error);
                    else
                        error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }else
                    error.insertAfter(element.parent());
            },

            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    beforeSubmit: function(){
                        wait = layer.load(2);
                    },
                    success: function(data){
                        layer.close(wait);
                        if(data.status==1){
                            layer.msg(data.info, {icon:6,time:1000}, function(index){
                                layer.close(index);
                                window.location.href=data.url;
                            });
                        }else{
                            layer.msg(data.info, {time:800}, function(index){
                                layer.close(index);
                            });
                            return false;
                        }
                    },
                    error: function showError(responseText, statusText){
                        layer.close(wait);
                        if(statusText=='timeout'){
                            layer.msg("服务器繁忙，请稍后再试！", {time:1000});
                            return;
                        }else{
                            layer.msg(statusText,{time:1000});
                        }
                    },
                    timeout: 5000,
                    dataType: 'json'
                });
            },
        });
    });
</script>
</body>
</html>
