<script type="text/javascript" src="__PUBLIC__/js/mobiles/Area.js"></script> 
<script type="text/javascript" src="__PUBLIC__/js/mobiles/AreaData_min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/js/mobiles/baseConfig.js"></script> 
<script type="text/javascript" src="__PUBLIC__/js/mobiles/fastclick.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/mobiles/jquery.datePicker-min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/js/mobiles/lib/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/js/mobiles/lib/swiper.min.js"></script> 
<include file="Common:theme"/>