/* Date Picker  */
.box_jCalendar{ padding-top:10px;}
table.jCalendar{border-collapse:collapse;font-family:Arial;width:100%;color:#696969; font-family:"微软雅黑";background:#fff;}
table.jCalendar th{background:#fff;font-weight:normal;vertical-align:middle;border:1px solid #fff; font-size:14px; padding:10px 0;}
table.jCalendar td{background:#fff;border:1px solid #fff;height:27px;text-align:center;}
table.jCalendar td.other-month{background:#FFF;color:#ccc; cursor:default;}
table.jCalendar td.today{/*background:#F60;*/color:#f66;}
table.jCalendar td.selected,table.jCalendar td.selected.dp-hover{}
table.jCalendar .current-month.dp-hover{background:#;}
table.jCalendar .current-month.selected {/*background:#0081c5;color:#FFF;*/}
table.jCalendar tr.activeWeekHover td{}
table.jCalendar tr.selectedWeek td{background:#F60;color:#fff;}


.datepicker{ position:relative; z-index:1; background-color:#fff ;}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover{}
table.jCalendar td.unselectable,table.jCalendar td.unselectable:hover,table.jCalendar td.unselectable.dp-hover{ }
.dp-head{ position:relative; z-index:1; text-align:center; border-bottom:1px solid #f2f2f2;background:#fff;}
div.dp-popup{position:relative;font-size:12px; margin:0 auto;line-height:1.2em;text-align:center; z-index:1;}
div#dp-popup{position:absolute;z-index:199;}
div.dp-popup .h2data,div.dp-popup .spancity{ display:inline; font-size:20px; font-family:"微软雅黑";}
div.dp-popup .spancity{ padding:0 3px;}
div.dp-popup h2{text-align:center;margin:0;padding:0;height:32px;line-height:32px;font-weight:400; font-size:14px;}

a#dp-close{font-size:11px;padding:4px 0;text-align:center;display:block;}
a#dp-close:hover{text-decoration:underline;}

.dp-calendar{padding:3px 0;  }
.td_day{ /*position:absolute; right:2px; bottom:1px; line-height:12px; overflow:hidden;*/ font-size:16px; display:inline-block; text-align:center; width:35px; height:35px; border-radius:50%; line-height:35px; }
table.jCalendar td.today .td_day{ color:#fff; background-color:#ffcc32 ;}

.td-price{ min-height:14px;}
.td-price a{ color:#FBB805; text-decoration:none;}
.td-price a dfn{ font-style:normal; display:none;}
.current-month .td_islow{ background-color:#FFF0E6;}
.current-month .isxiu{ width:15px; height:15px; background:; position:absolute; top:1px; left:1px;}
.islow{ background:#FFF6C9;}
table.jCalendar td.other-month .td_td{ background:none;}
div.dp-popup .dp-nav-prev a,div.dp-popup .dp-nav-next a{color:#333; font-family:"微软雅黑";text-decoration:none;width:15px;height:25px;line-height:25px; font-size:22px;overflow:hidden;/*background:url(../images/arrowicon.gif) no-repeat;*/margin:1px 2px 0 2px;display:inline;}
div.dp-popup .dp-nav-prev #dp-nav-prev-year,div.dp-popup .dp-nav-next #dp-nav-next-year{ display:none;}
div.dp-popup a#dp-nav-prev-year.disabled{}
div.dp-popup a#dp-nav-prev-month.disabled{background-position:0 -26px;}
div.dp-popup a#dp-nav-prev-year{}
div.dp-popup a#dp-nav-prev-month{background-position:0 0;}
div.dp-popup a#dp-nav-next-year{}
div.dp-popup a#dp-nav-next-month{background-position:-16px 0;}

div.dp-popup a#dp-nav-next-year.disabled{}
div.dp-popup a#dp-nav-next-month.disabled{background-position:-16px -26px;}
div.dp-popup div.dp-nav-prev{position:absolute;top:0;left:10px;width:100px; z-index:33}
div.dp-popup div.dp-nav-prev a{float:left;}
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a{cursor:pointer;}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled{cursor:default;}
div.dp-popup div.dp-nav-next{position:absolute;top:0;right:10px;width:100px;z-index:33}
div.dp-popup div.dp-nav-next a{float:right;}
div.dp-popup a.disabled{cursor:default;color:#aaa;}
div.dp-popup td{font-size:14px; height:40px;/*cursor:not-allowed;*/}
div.dp-popup td .td_td{ height:40px; position:relative;}


.hasdata{}
.td_td span{ display:inline-block;width: 26px; height: 26px; line-height:26px; border-radius:50%;}
.hasdata .td_td:after{content: ""; width: 4px; height: 4px; background: #66CDCC; border-radius:50%; background-size:16px auto; position:absolute; left:50%; top:22px; margin-left:-2px;  }

.selected  .td_td span{ background: #F2F2F2; color:#;}

div.dp-popup td.disabled{/*cursor:not-allowed;*/}
div.dp-popup td.hasDate{cursor:pointer; background-color:#fff;}
